h1 {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #bcabae;
}

#body {
    background-color: #2d2e2e;
    border-radius: 25px;
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 15px;
    padding-left: 90px;
}

#information {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 15px;
    padding-left: 90px;
    padding-bottom: 10px;;
}

a{
    color: white;
}

a:hover {
    color: blue;
}

hr{
    color:white;
    width: 90%
}

#Jobs {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 15px;
    padding-left: 90px;
}
