h1 {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #bcabae;
}

#body {
    background-color: #2d2e2e;
    border-radius: 25px;
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 15px;
    padding-left: 90px;
}

#information {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 15px;
    padding-left: 90px;
    padding-bottom: 10px;
}

a{
    color: white;
}

a:hover {
    color: gray;
}

hr{
    color:white;
    width: 90%
}

#heading {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 15px;
    padding-left: 90px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 85px;
}

#resume-information-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 90px;
}

#resume-information-content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 120px;
    font-size: 12pt;
}

.right {
    float:right;
    padding-right: 80px;
}

.left {
    font-weight: bold;
}

#footing {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 35px;
    padding-top: 15px;
    text-align: center;
}